/* styles for Under19Team.module.css */
.playerList {
  list-style-type: none;
  padding: 0;
}

.playerListItem {
  margin: 10px 0;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.playerListItem:hover {
  background: #e0e0e0;
}

.teamHead {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 75vh;
  border-radius: 20px;
  padding-bottom: 10%;
  /* position: absolute; */
}
.teamHead h1 {
  font-size: 6rem;
  font-family: "formula_condensedbold", roboto;
  letter-spacing: 2px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 1% 2%;
}

.teamInfo {
  padding: 20px;
  width: 100%;
}
.teamPosition {
  padding-bottom: 20px;
}
.teamPosition h2 {
  padding: 1rem 0;
  font-size: 20px;
  text-transform: uppercase;
}
.teamPosition ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.teamPosition ul li {
  min-height: 18rem;
  height: 28rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}

.playerCard {
  position: relative;
  display: flex;
  align-items: end;
  overflow: hidden;
}
.playerImage {
  position: absolute;
  bottom: -10px;
  left: 0;
}

.playerDetails {
  background-color: #005bb5; /* Adjust the background color */
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.playerFirstName {
  font-family: "formula_condensedlight", roboto;
  font-size: 18px;
}

.playerLastName {
  font-family: "formula_condensedregular", roboto;
  font-size: 24px;
}

.ProfileLink {
  text-align: right;
}

.playerProfileLink {
  color: white;
  text-decoration: none;
  font-family: "formula_condensedlight", roboto;
  font-size: 16px;
  background: none;
  border: none;
  padding: 0px;
}

.playerProfileLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.playerName {
  text-align: left;
}

@media (max-width: 768px) {
  .teamPosition ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
  .teamPosition ul li {
    min-height: 18rem;
    height: 20rem;
  }
}
@media (max-width: 600px) {
  .teamPosition ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
  .teamPosition ul li {
    min-height: 18rem;
    height: 20rem;
    padding: 5px;
  }
  .teamHead h1 {
    font-size: 4rem;
  }
}

@media (max-width: 400px) {
  .playerDetails {
    display: block;
  }
  .ProfileLink {
    text-align: left;
  }
  .teamPosition ul li {
    min-height: 17rem;
    height: 17rem;
    border-radius: 10px;
  }
  .teamInfo {
    padding: 10px;
  }
  .playerFirstName {
    font-size: 16px;
  }

  .playerLastName {
    font-size: 18px;
  }
  .playerProfileLink {
    font-size: 16px;
  }
  .teamHead h1 {
    font-size: 3rem;
  }
}
